{% extends 'main.html' %}
{% load static %}
{% block content %}
  
{% comment %} <h3><span style="color:#fff; font-size:15px">Deck - {{deck.title}} | </span><a href="{% url 'update_deck' deck.id %}?next={{request.path}}" style="color:#707070; font-size:15px">Edit - </a><a href="{% url 'delete_deck' deck.id %}?next={{request.path}}" style="color:#707070; font-size:15px">Delete</a></h3> {% endcomment %}
<br>
<div class="heading-container">
    <div class="icon-container">
        <a href="{% url 'circle' circle.id%}" style="color:white"><i class="ri-arrow-drop-left-line"></i></a>
    </div>
    <h1>{{circle.name}}</h1> -- <h6>Circle</h6>
    </div>


{% if replies %}
    <div class="note_head">
        <br>
        {% comment %} <strong class="link" ><a style="color:white;" href="{% url 'request_reply' %}?next={{request.path}}">Request new reply</a></strong> {% endcomment %}
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="media g-mb-30 media-comment">
                    <div class="g-mb">
                        <h4>{{convo.title}}</h4>
                        <h6 class="g-color-gray-dark-v4 g-font-size-12">{{ convo.created|date:"M d, Y H:i" }}</h6>
                        <p class="p g-color-gray-dark-v1 mb-1">{{ convo.body }}</p>
                        <hr style="border: 2px solid white; margin-top: 10px;">
                    </div>                    
                    <br>
                    <h5>Replies</h5>
                    <h5 style="color:#707070">{{ replies.count }} reply{% if reply.count != 1 %}s {% else %} {% endif %}</h5>
                    <br>
                    <a href="{% url "create_reply" %}">Reply</a>
                    <!-- Code for single cards and answers -->
                    {% for reply in replies %}
                        <div class="g-mb-">
                            <h6 class="g-color-gray-dark-v4 g-font-size-12">{{ reply.created|date:"M d, Y H:i" }}</h6>
                            <p class="p g-color-gray-dark-v1 mb-1">{{ reply.body }}</p>
                            <hr style="border: 0.5px solid white; margin-top: 10px;">
                        </div>                    
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% comment %} {% else %}
    <strong class="link" style=""><a style="color:white;" href="{% url 'create_flashcard' deck_id=deck.id %}?next={{request.path}}">Create new reply</a></strong>
    <p style="color:grey">You have no reply created </P> {% endcomment %}

{% endif %}

{% comment %} {% url 'single-deck' deck.id %} {% endcomment %}

{% endblock content %}
